@model ML.Empresa
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Form</h1>


<h1>Form</h1>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>@ViewBag.Titulo</h3>
                <h5>Ingrese los datos</h5>
                <hr />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Form", "Empresa", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-horizontal">

                    <div class="form-group">

                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.IdEmpresa, new { @class = " hidden form-control ", })
                            @Html.ValidationMessageFor(model => model.IdEmpresa)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", })
                            @Html.ValidationMessageFor(model => model.Nombre)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Telefono, new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", })
                            @Html.ValidationMessageFor(model => model.Telefono)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DireccionWeb, new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.DireccionWeb, new { @class = "form-control", })
                            @Html.ValidationMessageFor(model => model.DireccionWeb)
                        </div>
                    </div>
                    <!---->
                    @* <div class="form-group">
                        @Html.LabelFor(model => model.Usuario.IdUsuario, new { @class = "control-label col-md-2 " })
                        <div class="col-md-3">
                        @Html.TextBoxFor(model => model.Usuario.IdUsuario, new { @class = "form-control", })
                        @Html.ValidationMessageFor(model => model.Usuario.IdUsuario)
                        </div>
                        </div>*@
                    @*-------------IMAGEN-----------------*@

                    <div class="col-md-3">

                        @Html.LabelFor(model=> model.Logo)

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-card-image"></i></span>
                            <input id="IFImage" type='file' class="form-control" name="Imagen" onchange="validateFile(this), readURL(this);  " />
                        </div>

                        @if (Model.Logo != null)
                        {

                            <img id="Img" src="data:image/*;base64,@Model.Logo" style="width:250px ; height:250px" />

                        }
                        else
                        {
                            <img id="Img" src="~/Imagenes/sinimagen.png" style="width:250px ; height:250px" />
                        }


                    </div>
                    @Html.HiddenFor(model => model.Logo)
                    @*------------------------------*@






                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="@ViewBag.Accion" class="btn btn-success" />
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.ActionLink("Regresar", "GetAll", "Empresa", htmlAttributes: new { @class = "btn btn-danger" })
        </div>
    </div>
</div>


@section Scripts
    {
<script src="~/lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>


<script type="text/javascript">
    $(document).ready(function() {

    //--------------
    function validateFile() {
        var allowedExtension = ['jpeg', 'jpg'];
        var fileExtension = document.getElementById('IFImage').value.split('.').pop().toLowerCase();
        var isValidFile = false;
        for (var index in allowedExtension) {
            if (fileExtension === allowedExtension[index]) {
                isValidFile = true;
                break;
            }
        }
        if (!isValidFile) {
            alert('Las extensiones permitidas son : *.' + allowedExtension.join(', *.'));
            document.getElementById('IFImage').value = ""
        }
        return isValidFile;
    }
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#Img')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }

</script>

}